<div class="card gf-card" style="margin: 0">
    <div class="card-header">我的资料</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item gf-list-item" id="user-profile"><a
                    href="/profile"><span class="icon iconfont">&#xe622;</span> 基本资料</a>
        </li>
        <li class="list-group-item gf-list-item" id="user-avatar"><a
                    href="/profile/avatar"><span class="icon iconfont">&#xe601;</span> 修改头像</a>
        </li>
        <li class="list-group-item gf-list-item" id="user-passwd"><a
                    href="/profile/password"><span class="icon iconfont">&#xe61f;</span> 修改密码</a>
        </li>
   
    </ul>
</div>