<link rel="stylesheet" href="/plugin/prism/prism.css">
<script src="/plugin/prism/prism.js"></script>
<link rel="stylesheet" href="/plugin/vditor/dist/index.css"/>
<script src="/plugin/vditor/dist/index.min.js" defer></script>
<div class="row gf-content">
    <div class="col-md-12">
        <div class="gf-content-show">
            {{if .BreadCrumb}}
            <nav aria-label="breadcrumb" class="gf-content-breadcrumb ">
                <ol class="breadcrumb">
                    {{range $index, $item := .BreadCrumb}}
                    <li class="breadcrumb-item {{if not $item.Url}}active{{end}}">
                        {{if $item.Url}}
                        <a href="{{$item.Url}}">{{$item.Name}}</a>
                        {{else}}
                        {{$item.Name}}
                        {{end}}
                    </li>
                    {{end}}
                </ol>
            </nav>
            {{end}}

            <h2 class="gf-title">
                {{.Data.Content.Title}}
            </h2>
            <div class="gf-detail-info">
             

            
                发布于 {{.Data.Content.CreatedAt | .BuildIn.FormatTime}}

                {{if .Context.User}}
                {{if eq .Data.Content.UserId .Context.User.Id}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/content/update/{{.Data.Content.Id}}">编辑</a>
                {{end}}
                {{end}}
            </div>
            <div class="gf-content markdown-body" id="gf-content">{{.Data.Content.Content}}</div>
        </div>



 

    </div>
</div>
<style>
    .markdown-body {
        font-size: 18px;
    }
</style>
<script type="application/javascript">
    gf.content = { 
        delete: function (id) {
            swal({
                title:   "删除回复",
                text:    "您确定删除回复信息吗？",
                icon:    "warning",
                buttons: ["取消", "确定"]
            }).then((value) => {

                jQuery.ajax({
                    type: 'DELETE',
                    url: '/reply',
                    data: {
                        id: id,
                    },
                    success: function (r) {
                        if (r.code === 0) {
                            swal({text: "删除成功", type: "success", button: "确定"}).then(
                                function(){
                                    location.reload(); // 刷新页面同步回复统计
                                });
                        } else {
                            swal({text: r.message, icon: "warning", button: "确定",});
                        }
                    },
                    error: function (html) {
                    }
                });

            });

        },
     
    }
    $(function () {
        // 解析Markdown
        $('.markdown-body').each(function (i, block) {
            if ($(block).attr("parsed") == undefined) {
                $(block).html(marked($(block).html()))
                $(block).find('pre code').each(function (i, block) {
                    Prism.highlightElement(block);
                });
                $(block).attr("parsed", "true")
            }
        });
        // 内容目录
        new Toc('gf-content', {
            'level': 4,
            'class': 'toc',
            'targetId': 'gf-content-toc'
        });
        // 仅有内容时才展示
        if ($('#gf-content-toc').text() != "undefined") {
            $('.gf-content-toc').show()
        }

        let editor = new Vditor('vditor', {
            cdn: '/plugin/vditor/',
            theme: 'classic',
            height: 300,
            icon: 'ant',
            cache: {enable: false},
            placeholder: "~请开始你的表演...",
            toolbar: [
                'emoji',
                'headings',
                'bold',
                'italic',
                'strike',
                '|',
                'line',
                'quote',
                'list',
                'ordered-list',
                'check',
                'outdent',
                'indent',
                'code',
                'inline-code',
                'insert-after',
                'insert-before',
                'undo',
                'redo',
                'upload',
                'link',
                'table',
                'fullscreen'
            ],
            upload: {
                // 附件格式
                accept: 'image/*',
                // 上传路径
                url: '/file',
                // 粘贴图片上传
                linkToImgUrl: '/file',
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                },
                filename(name) {
                    return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').replace('/\\s/g', '')
                },
                // 格式化上传返回
                format(file, response) {
                    const {code, data, message} = JSON.parse(response)
                    return JSON.stringify({message, code, data: {errFiles: [], succMap: {"image.png": data.url}}})
                }
            },
            preview: {
                maxWidth: 1920
            },
        });

        $('.btn-submit').on('click', function () {

            {{if not .Context.User}}
            swal({
                text:   "请登录后再做操作",
                icon: "warning",
                button: "确定"
            });
            return;
            {{end}}

            if (!editor.getHTML()) return;
            $('button[type=submit]').attr('disabled', 'true');
            var pid=$("#reply-btn").attr("data-reply-id");
            jQuery.ajax({
                type: 'PUT',
                url: '/reply',
                data: {
                    parentId:   pid,
                    content:    editor.getHTML(),
                    targetId:   "{{.Data.Content.Id}}",
                    targetType: "{{.Data.Content.Type}}",
                },
                success: function (r) {
                    $('button[type=submit]').removeAttr('disabled');
                    if (r.code === 0) {
                        swal({text: "评论成功", type: "success", button: "确定"}).then(
                        function(){
                            location.reload(); // 刷新页面同步回复统计
                        });
                        editor.setValue("", true)
                    } else {
                        swal({text: r.message, icon: "warning", button: "确定",});
                    }
                },
                error: function (html) {
                }
            });
        })

        gf.content.loadReply();
    })
</script>
