<div class="row gf-list">
    <div class="col-md-2 offset-md-1">
        <div class="card gf-card">
            <div class="card-header">管理中心</div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe622;</span> <a
                    href="/setting/index">设置中心</a></li>

                <li class="list-group-item gf-list-item"><span class="icon iconfont">&#xe622;</span> <a
                            href="/user/1">全部资料</a></li>
              
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card gf-person">
            <div class="card-header">
                <span class="iconfont">&#xe61f;</span> 设置中心
            </div>
            <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label text-right">http://localhost:81/clock,http://localhost:81/characters/show?page=1,http://localhost:81/characters/show?page=2,http://localhost:81/characters/show?page=3,http://localhost:81/characters/show?page=4
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="homepageUrl" class="col-sm-3 col-form-label required text-right">首页地址</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <textarea class="form-control" id="HomepageUrl"  name="HomepageUrl" rows="3">{{.Data.HomepageUrl}}</textarea>
                                <div class="input-group-append">
                                    <button type="submit" id="saveHomepageUrl" class="btn btn-primary btn-block">保存</button>
                                </div>

                            </div> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ExamDate" class="col-sm-3 col-form-label required text-right">考试时间</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="ExamDate"  name="ExamDate" value="{{.Data.ExamDate}}" />
                                <div class="input-group-append">
                                    <button type="submit" id="saveExamDate" class="btn btn-primary btn-block">保存</button>
                                </div>
                            </div> 
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="Playlist" class="col-sm-3 col-form-label required text-right">视频播放地址</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <textarea class="form-control" id="Playlist"  name="Playlist" rows="10">{{.Data.Playlist}}</textarea>
                                <div class="input-group-append">
                                    <button type="submit" id="savePlaylist" class="btn btn-primary btn-block">保存</button>
                                </div>

                            </div> 
                        </div>
                    </div>

                   
                    
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    jQuery(function ($) {
        $("#saveHomepageUrl").click(function(){
            HomepageUrl = $("#HomepageUrl").val().replace(/\s+/g, "");
             if (HomepageUrl.slice(-1) === ",") {
                HomepageUrl = HomepageUrl.slice(0, -1);
             }
             if (HomepageUrl!="") {
                jQuery.ajax({
                    type: 'POST',
                    url : '/setting/save',
                    data: {
                        v: HomepageUrl,
                        k:"HomepageUrl"
                    },
                    sync: true,
                    success: function (data) {
                        alert("保存成功")
                    }
                });
            }
        })

        $("#saveExamDate").click(function(){
            ExamDate = $("#ExamDate").val().replace(/\s+/g, "");
             
             if (ExamDate!="") {
                jQuery.ajax({
                    type: 'POST',
                    url : '/setting/save',
                    data: {
                        v: ExamDate,
                        k:"ExamDate"
                    },
                    sync: true,
                    success: function (data) {
                        alert("保存成功")
                    }
                });
            }
        })


        $("#savePlaylist").click(function(){
            Playlist = $("#Playlist").val().replace(/\s+/g, "");
             if (Playlist.slice(-1) === ",") {
                Playlist = Playlist.slice(0, -1);
             }
             if (Playlist!="") {
                jQuery.ajax({
                    type: 'POST',
                    url : '/setting/save',
                    data: {
                        v: Playlist,
                        k:"Playlist"
                    },
                    sync: true,
                    success: function (data) {
                        alert("保存成功")
                    }
                });
            }
        })
    });
</script>