{{$items := split .RequestURI "?"}}
{{$first := index $items 0}}

{{ if eq $first "/characters/show"}}
    {{include .MainTpl .}}
{{else if eq $first "/display"}}
    {{include .MainTpl .}}
{{else if eq $first "/clock"}}
    {{include .MainTpl .}}
{{else if eq $first "/video"}}
    {{include .MainTpl .}}
{{else}}
    <!DOCTYPE html>
    <html>

    <head>
        {{include "index/header.html" .}}
    </head>

    <body>

       

    <div class="container-fluid">
        <!-- menu -->
        {{include "index/navbar.html" .}}

        <!--- main --->
        <main>
            {{include "index/message.html" .}}
            {{include .MainTpl .}}
        </main>

        <!--- footer --->
        {{include "index/footer.html" .}}
    </div>
    </body>

    </html>
{{end}}



