<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fullscreen Slideshow</title>
  <script src="/plugin/jquery/jquery.min.js"></script>
	<style>
		iframe {
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		#countdown {
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 24px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 10px;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<div id="slideshow-container"></div>
	<script>
		
		$(function() {
			var slides = [
				{{range $index, $item := .Data.HomepageUrl}}
						{ url: '{{$item}}' },
				{{end}}
			];
 
			var currentIndex = 0;
			
			function showNextSlide() {
				var slide = slides[currentIndex];
				// if(slide.length>1){
					var $iframe = $('<iframe>').attr('src', slide.url).appendTo('#slideshow-container');
					var $countdown = $('<div>').attr('id', 'countdown').appendTo('body');
					var remainingTime = 0;
					var countdownInterval = null;
					$iframe.on('load', function() {
						remainingTime = $iframe[0].contentWindow.slideDuration || 3;
						$countdown.text(remainingTime);
						{{if gt (.Data.HomepageUrl|len) 1}}
								countdownInterval = setInterval(function() {
									remainingTime--;
									$countdown.text(remainingTime);
									if (remainingTime <= 0) {
										clearInterval(countdownInterval);
										$iframe.remove();
										$countdown.remove();
										currentIndex = (currentIndex + 1) % slides.length;
										showNextSlide();
									}
								}, 1000);
			      {{end}}
					}); 
			}
			showNextSlide();
		});
	</script>


</body>
</html>
